layout {
    background-color "transparent"

    focus-ring {
        active-color   "#ffb961"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb961"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb961"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb96180"
    }
}

recent-windows {
    highlight {
        active-color   "#653e00"
        urgent-color   "#ffb4ab"
    }
}